
/**************** Login page******************/
@media only screen and (max-width:767px) {
	.loginContent .LoginPanel {
		width: 100% !important;
	}
	.loginContent .dnnFormItem .dnnLoginRememberMe {
		white-space: nowrap;
	}
	.loginContent .dnnFormLabel {
		display: block !important;
		text-align: left !important;
	}
}

form[action*="/Login?returnurl"] .loginContent .LoginPanel{
	width:500px!important;
}
form[action*="/Login?returnurl"] .loginContent .dnnFormItem .dnnLoginRememberMe {
	white-space:inherit;
}
form[action*="/Login?returnurl"] .loginContent .dnnFormLabel {
	display: inline-block !important;
	text-align: right !important;
}


.registerGroup ul,
.registerGroup li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.registerGroup,
.loginGroup{
	display: inline-block;
}
.registerGroup a,
.loginGroup a,
.registerGroup a:link,
.loginGroup a:link,
.registerGroup a:active,
.loginGroup a:active,
.registerGroup a:visited,
.loginGroup a:visited{
	color:inherit;
}

.loginContent a,
.loginContent a:link{
	color:#333;
}
.loginContent a.dnnPrimaryAction{
	color:#FFF;
}
.loginContent a:hover{
	text-decoration: none;
}

/**************** register page******************/
@media only screen and (max-width:767px) {
.dnnRegistrationForm {
	min-width: inherit !important;
}
.dnnRegistrationForm .dnnForm {
	width: 100%;
}
.dnnRegistrationForm .dnnFormLabel {
	display: block !important;
	text-align: left !important;
}
.dnnRegistrationForm .dnnForm .dnnFormItem .dnnLabel {
	display: block !important;
	float: none !important;
	text-align: left !important;
	width: 100%;
}
.dnnRegistrationForm .dnnForm .dnnFormItem a.dnnFormHelp {
	right: auto !important;
	position: static !important;
	margin-left: 5px !important;
}
.dnnRegistrationForm .dnnForm .dnnFormItem {
	padding: 0px !important;
	margin: 0px !important;
}
.dnnRegistrationForm .dnnFormItem input[type="text"],
.dnnRegistrationForm .dnnFormItem input[type="password"],
.dnnRegistrationForm .dnnFormItem input[type="email"],
.dnnRegistrationForm .dnnFormItem input[type="tel"],
.dnnRegistrationForm .dnnFormItem select,
.dnnRegistrationForm .dnnFormItem textarea {
	width: 100%;
	margin-bottom: 10px !important;
}
}

/**************** Password page******************/
@media only screen and (max-width:767px) {
.dnnSendPasswordContent {
	width: auto !important;
}
.dnnSendPasswordContent .dnnLabel {
	display: block !important;
	width: 100% !important;
	text-align: left;
}
.dnnSendPasswordContent a.dnnFormHelp,
.dnnSendPasswordContent .dnnForm .dnnFormItem a.dnnFormHelp,
.dnnSendPasswordContent .dnnTooltip label a.dnnFormHelp {
	position: static;
}
.dnnSendPasswordContent input[type="text"],
.dnnSendPasswordContent input[type="password"],
.dnnSendPasswordContent input[type="email"],
.dnnSendPasswordContent input[type="tel"],
.dnnSendPasswordContent select,
.dnnSendPasswordContent textarea {
	width: 90%;
	margin-bottom: 10px !important;
}
.dnnSendPasswordContent ul.dnnActions {
	padding: 0 !important;
}
}
/*footer*/
footer.footer .dngTextBox,
.footer-logoin{
	display: inline-block
}
.footer-logoin{

	
}

/* ********** Control Panel Style ************** */
.CommandButton,
A.CommandButton:link,
A.CommandButton:visited,
A.CommandButton:active {
	font-size: 12px;
	color: #973939;
	text-decoration: none;
	font-weight: normal;
}
A.CommandButton:hover {
	color: #973939;
	text-decoration: underline;
	font-size: 12px;
	font-weight: normal;
}
.FileManager A,
.FileManager A:link,
.FileManager A:visited,
.FileManager A:active {
	color: #000;
	text-decoration: underline;
}
.FileManager A:hover {
	color: #000;
	text-decoration: none;
}
/* ********** Pane Style ************** */
.DNNEmptyPane {
	display: none;
}
#dnn_ControlPanel #dnnCPWrap {
	filter: none !important;
}
ul.dnnActionMenuBody li ul li a,
ul.dnnActionMenuBody li ul li a img {
	color: #328DDE!important;
}
form#Form {
	height: 100%;
}
.ModuleTitle_SubMenu {
	z-index: 9999!important;
}
/* ********** Pane Style End ************** */

/*SkinPlugin*/
.SkinPlugin_icon{
display: none;
}
.SkinPluginPro_icon {
	position:fixed;
	top:20%;
	right:0;
	z-index:9999;
	cursor:pointer;
	text-align: right;
	white-space: pre;
}

.SkinPluginPro_icon a{
	display:inline-block;
	height:34px;
	line-height: 34px;
	text-decoration:none;
	background-color: #20a3f0;
	margin-bottom: 2px;
	text-align: center;
	border-radius: 4px 0 0 4px;
	white-space: nowrap;
}
.SkinPluginPro_icon span{
	color: #FFF;
	max-width: 0px;
	overflow: hidden;
	display:inline-block;
	vertical-align: middle;
	text-indent: 1em;
	font-size: 13px;
	transition: all ease-in 300ms;
	-moz-transition: all ease-in 300ms;  
	-webkit-transition: all ease-in 300ms;  
	-o-transition: all ease-in 300ms; 
	-ms-transition: all ease-in 300ms; 
}
.SkinPluginPro_icon i{
	font-size: 16px;
	color: #FFF;
	width:34px;
	display: inline-block;
	vertical-align: middle;
}
.SkinPluginPro_icon a:hover span{
	max-width:160px;
}
.SkinPluginPro_icon .fa.fa-cloud-download:before{
	font-family: "Font Awesome 5 Free";
	content: "\f381";
}


/*dnn*/
.dnnEditState .actionMenu { 
	z-index: 1!important; display: block!important; 
}
#Body[style*="margin-left: 80px"]{
	position: relative;
}
#Body[style*="margin-left: 80px"] .dng-main.Wide .floating-active.header-wrap,
#Body[style*="margin-left: 80px"] .dng-main.Wide .sticky-fixed .floating-nav.floating-nav-sticky {
	left: 80px;
	width: auto;
	right: 0;
}
#Body[style*="margin-left: 80px"] .headersidenav{
	left: 80px;
}
#Body[style*="margin-left: 80px"] .leftslidemenu.active{
	margin-left: 80px;
}
#Form.showControlBar{
	position: relative;
}

.dnnEditState .overlay-panel-content{
	position: relative!important;
	display: block!important;
	z-index: 99!important;
}
.dnnEditState .overlay-panel-content .dng_animate_visible,
.cke_editable .dng_animate_visible{
	opacity: 1;
}
.dnnEditState .side-panel-box.side-panel .side-panel-main{
	min-height: 100vh

}

.dnnEditState .side-panel {
    position: relative!important;
    left: auto!important;
    right: 0!important;
    top: 0!important;
	visibility: visible!important;
	display: inline-block;
	z-index: 100!important;
}

#PageTemplate_Modal{
	background-color: #FFF;
	z-index: 100000000;
	position: fixed;
	top: 35px;
	right: 45px;
	bottom: 35px;
	left: 45px;
	width: auto;
	height: auto;
}
#PageTemplate_Modal .modal-body{
	height:calc(100% - 65px);
}
#PageTemplate_Modal .close{
	position: absolute;
	right: 4px;
	top: -3px;
	font-size: 35px;
}

#setting-message-info{
	position: fixed;
	right: 25px;
	top:25px;
	z-index: 10001;
	display: none;
	padding: 15px;
	border-radius: 5px;
	color: #FFF;
	font-size: 14px;
	background-color: #32373c;
}
#setting-message-info .fa{
	border-width: 2px;
	border-style: solid ;
	font-size: 10px;
	width: 25px;
	height: 25px;
	line-height: 22px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 2px;
	
}
#setting-message-info-full {
	position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100000001;
    background: #000;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
	display: none;
}
#setting-message-info-full .waitaminute-message{
	position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-top: -30px;
}

#setting-message-info-full .cog{
    position: relative;
    display: inline-block;
    width: 60px;
    line-height: 1;
	margin-bottom: 10px;
}
#setting-message-info-full .cog .icon1{
	-webkit-animation: rotatemessage-r 5s infinite linear;
	animation: rotatemessage-r 5s infinite linear;
}
#setting-message-info-full .cog .icon2{
    position: absolute;
    font-size: 0.5em;
	top: -5px;
    right: -11px;
	-webkit-animation: rotatemessage 3s infinite linear;
	animation: rotatemessage 3s infinite linear;

}
#setting-message-info-full .cog .icon3{
	position: absolute;
    font-size: 0.5em;
    bottom: -3px;
	right: -11px;
	-webkit-animation: rotatemessage 3s infinite linear;
	animation: rotatemessage 3s infinite linear;
}

/* Animations */
@-webkit-keyframes rotatemessage {
	from {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
  @keyframes rotatemessage {
	from {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
  @-webkit-keyframes rotatemessage-r {
	from {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(-360deg);
			  transform: rotate(-360deg);
	}
  }
  @keyframes rotatemessage-r {
	from {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(-360deg);
			  transform: rotate(-360deg);
	}
  }

.DNNEmptyPane{
	display: none!important;
}

/*pane name*/
.dnnEditState .edit-panename{
	position: absolute;
	z-index: 100;
	pointer-events: none;
	user-select: none; 
	color: #cdcdcd;
    font-size: 18px;
	font-weight: bold;
	left: 50%;
	top: 20px;
	transform: translate(-50%,0);
	text-shadow: 0 0 1px rgba(255,255,255,0.2);
}





