 #logo575027 img{max-height:36px!important;}#dng-megamenu456225 .primary_structure>li>a, 
	#dng-megamenu456225 .primary_structure>li>a:link, 
	#dng-megamenu456225 .primary_structure>li>a:active,
	#dng-megamenu456225 .primary_structure>li>a:visited{color:#333;font-size:15px;}#dng-megamenu456225 .dnngo_slide_menu li, 
	#dng-megamenu456225 .dnngo_slide_menu li a{color:#333;font-size:13px;line-height:39px;}#dng-megamenu456225 .dnngo_menu_list .pane_space, 
	#dng-megamenu456225 .dnngo_menu_list a, 
	#dng-megamenu456225 .dnngo_menu_list a:link,
	#dng-megamenu456225 .dnngo_menu_list a:active, 
	#dng-megamenu456225 .dnngo_menu_list a:visited,
	#dng-megamenu456225 .dnngo_boxslide .pane_space, 
	#dng-megamenu456225 .dnngo_boxslide a, 
	#dng-megamenu456225 .dnngo_boxslide a:link,
	#dng-megamenu456225 .dnngo_boxslide a:active, 
	#dng-megamenu456225 .dnngo_boxslide a:visited{color:#333;font-size:13px;line-height:35px;}#dng-megamenu456225 .dnngo_menu_list > li > a,
	#dng-megamenu456225 .dnngo_menu_list > li > a:link,
	#dng-megamenu456225 .dnngo_menu_list > li > a:active,
	#dng-megamenu456225 .dnngo_menu_list > li > a:visited,
	#dng-megamenu456225 .dnngo_menu_list .submenu_title a,
	#dng-megamenu456225 .dnngo_menu_list .submenu_title a:link,
	#dng-megamenu456225 .dnngo_menu_list .submenu_title a:active,
	#dng-megamenu456225 .dnngo_menu_list .submenu_title a:visited,
	#dng-megamenu456225 .dnngo_menu_list .submenu_title,
	#dng-megamenu456225 .dnngo_boxslide .submenu_title a,
	#dng-megamenu456225 .dnngo_boxslide .submenu_title a:link,
	#dng-megamenu456225 .dnngo_boxslide .submenu_title a:active,
	#dng-megamenu456225 .dnngo_boxslide .submenu_title a:visited,
	#dng-megamenu456225 .dnngo_boxslide .submenu_title{color:#000;font-size:15px;line-height:35px;}
	#dng-megamenu456225 .primary_structure>li>a{
		padding-top:10px; 
		padding-right:12px;
		padding-bottom:10px;
		padding-left:12px;
	  }
	
		#dng-megamenu456225.hoverstyle_1 .primary_structure > li > a:before {
			left:12px;
			border-width:2px;
			border-color:#00c110;
		}
		#dng-megamenu456225.hoverstyle_1 .primary_structure > li:hover > a:before,
		#dng-megamenu456225.hoverstyle_1 .primary_structure > li > a:focus:before,
		#dng-megamenu456225.hoverstyle_1 .primary_structure > li.current > a:before,
		#dng-megamenu456225.hoverstyle_1 .primary_structure > li.menu_hover > a:before,
		#dng-megamenu456225.hoverstyle_1 .primary_structure > li > a.current:before {
			right:12px;
		}
		#dng-megamenu456225.hoverstyle_1 .primary_structure > li:hover > a,
		#dng-megamenu456225.hoverstyle_1 .primary_structure > li > a:focus,
		#dng-megamenu456225.hoverstyle_1 .primary_structure > li.current > a,
		#dng-megamenu456225.hoverstyle_1 .primary_structure > li.menu_hover > a,
		#dng-megamenu456225.hoverstyle_1 .primary_structure > li > a.current {
			color:#333!important;
		}
		
		#dng-megamenu456225 .dnngo_slide_menu,
		#dng-megamenu456225 .dnngo_slide_menu .dnngo_submenu{background-color:#ffffff;}
	#dng-megamenu456225 .dnngo_slide_menu li:hover>a, 
	#dng-megamenu456225 .dnngo_slide_menu li>a:focus, 
	#dng-megamenu456225 .dnngo_slide_menu li.subcurrent>a{
			background-color:#00c110;
			}
		
		#dng-megamenu456225 .dnngo_menu_list,
		#dng-megamenu456225 .dnngo_boxslide{background-color:#ffffff;}
	#dng-megamenu456225 .dnngo_menu_list li li.subcurrent > a,
	#dng-megamenu456225 .dnngo_menu_list li.subcurrent > a,
	#dng-megamenu456225 .dnngo_custommenu li.current > a{
		color:#00c110;
		background-color:transparent;
	}
	#dng-megamenu456225 .dnngo_menu_list li a:hover,
	#dng-megamenu456225 .dnngo_menu_list li a:focus,
	#dng-megamenu456225 .dnngo_boxslide .submenu_title a:hover {
		color:#00c110;
	}
	#dng-megamenu456225 .dnngo_menu_list li li a:hover,
	#dng-megamenu456225 .dnngo_menu_list li li a:focus,
	#dng-megamenu456225 .dnngo_custommenu .submenu li a:hover,
	#dng-megamenu456225 .dnngo_custommenu .submenu li a:focus{
		color:#FFF;
		background-color:#00c110;
	}
	
		#dng-megamenu456225 .mega-menu .boxslide > .line span,
		#dng-megamenu456225 .dnngo_menuslide > .line span{
			border-color:#dcdcdc;
		}
		.mobilemenu11098 .mm-listview,
	.mobilemenu11098 #panel-wrap-0 .mm-listview,
	.mobilemenu11098 #panel-wrap-0 .mm-listview>li>a,
	.mobilemenu11098 #panel-wrap-0 .mm-listview>li>a:link, 
	.mobilemenu11098 #panel-wrap-0 .mm-listview>li>a:active,
	.mobilemenu11098 #panel-wrap-0 .mm-listview>li>a:visited{color:#333;font-size:18px;}.mobilemenu11098 .mm-listview>li>a,
	.mobilemenu11098 .mm-listview>li>a:link, 
	.mobilemenu11098 .mm-listview>li>a:active,
	.mobilemenu11098 .mm-listview>li>a:visited{color:#333;font-size:15px;}.mobilemenu11098.dng-mobilemenu .mm-title{color:#333;font-size:20px;font-weight:600;}
		.mobilemenu11098.dng-mobilemenu .mm-listview>li{
			border-color:rgba(0,0,0,0.33);

		}
		.mobilemenu11098.dng-mobilemenu .mm-close:after, 
		.mobilemenu11098.dng-mobilemenu .mm-btn.mm-prev:after,
		.mobilemenu11098.dng-mobilemenu .mm-btn.mm-prev:before{
			color:#333!important;
		}
	
			.mobilemenu11098.dng-mobilemenu .mm-listview > li .mm-next:after, 
			.mobilemenu11098.dng-mobilemenu .mm-listview > li .mm-arrow:after{
				border-color:#333;
			}
		
			.mobilemenu11098 #panel-wrap-0 .mm-listview > li .mm-next:after, 
			.mobilemenu11098 #panel-wrap-0 .mm-listview > li .mm-arrow:after{
				border-color:#333;
			}
		
		.mobilemenu11098.dng-mobilemenu.mobile_menu{background-color:#ffffff;}
		.mobilemenu11098.dng-mobilemenu .mm-panels > .mm-panel.mm-iconpanel-0{
			background-color: #ffffff;
		}
		.mobilemenu11098.dng-mobilemenu .mm-panels > .mm-panel.mm-iconpanel-1{
			background-color: #ffffff;
		}
		.mobilemenu11098.dng-mobilemenu .mm-panels > .mm-panel.mm-iconpanel-2{
			background-color: #ffffff;
		}
		.mobilemenu11098.dng-mobilemenu .mm-panels > .mm-panel.mm-iconpanel-3{
			background-color: #ffffff;
		}
		.mobilemenu11098.dng-mobilemenu .panel-wrap .current a span,
		.mobilemenu11098.dng-mobilemenu .panel-wrap .subcurrent a span, 
		.mobilemenu11098.dng-mobilemenu .panel-wrap .mm-listview  li:hover a{
			color: #00c110!important;
		}
		.mobilemenu11098.dng-mobilemenu .panel-wrap .mm-listview .current .mm-next:after, 
		.mobilemenu11098.dng-mobilemenu .panel-wrap .mm-listview .current .mm-arrow:after,
		.mobilemenu11098.dng-mobilemenu .panel-wrap .mm-listview .subcurrent .mm-next:after, 
		.mobilemenu11098.dng-mobilemenu .panel-wrap .mm-listview .subcurrent .mm-arrow:after,
		.mobilemenu11098.dng-mobilemenu .panel-wrap .mm-listview  li:hover .mm-next:after, 
		.mobilemenu11098.dng-mobilemenu .panel-wrap .mm-listview  li:hover .mm-arrow:after{
			border-color: #00c110!important;
		}
		#logo712896 img{max-width:245px!important;}#headerrow-349356{background-color:rgba(255,255,255,0);}#headerrow-349356 .dngTextBox,
		#headerrow-349356 .header-content-wrap >*:not(.nav-bar),
		#headerrow-349356 .Normal,
		#headerrow-349356 .Normal > a,
		#headerrow-349356 .Normal > a:link,
		#headerrow-349356 .Normal > a:active,
		#headerrow-349356 .Normal > a:visited,
		#headerrow-349356 .dngTextBox a,
		#headerrow-349356 .dngTextBox a:link,
		#headerrow-349356 .dngTextBox a:active,
		#headerrow-349356 .dngTextBox a:visited{color:#333;}#headerrow-349356,#headerrow-349356 .header-center,#headerrow-349356 .header-center .logo{height:110px}#headerrow-349356 .header-center .logo{line-height:110px!important}#headerrow-349356 > .container {width: auto!important;}
			#headerrow-349356 .area-left{
				padding-right:8px;
			}
			#headerrow-349356 .area-center{
				padding-left:8px;
				padding-right:8px;
			}
			#headerrow-349356 .area-right{
				padding-left:8px;
			}
			#headerrow-349356 .area-left .header-content-wrap > div{
				margin-right:15px;
			}
			#headerrow-349356 .area-center .header-content-wrap > div,
			#headerrow-349356 .area-right .header-content-wrap > div{
				margin-left:15px;
			}
		
			 .floating-active #headerrow-349356:after{
			   content:"";
			   position:absolute;
			   top: 0;
			   left: -20px;
			   bottom: 0;
			   right: 0;
			   z-index: -1;
			   pointer-events:none; 
			   -webkit-box-shadow: 10px 10px 10px -11px rgba(0,0,0,0.2);
			   box-shadow: 10px 10px 10px -11px rgba(0,0,0,0.2);
			 }
			 .floating-active #headerrow-349356{background-color:#ffffff!important;
}#headerrow-349356 .Normal > a:hover,
			#headerrow-349356 .dngTextBox a:hover,
			#headerrow-349356 .hover-accent:hover,
			#headerrow-349356 .Login a:hover,
			#headerrow-349356 .Login a.active{
				color:#00c110
			}
			#headerrow-349356 .Login .userProfile .userMessages,
			#headerrow-349356 .Login .userProperties ul.userMenu a span{
				background-color:#00c110
			}
				.floating-nav.floating-active #headerrow-349356 .header-container-box,
				.floating-nav.floating-active #headerrow-349356 .header-bg-box,
				.floating-nav.floating-active #headerrow-349356 {
					height:70px;
				}
				.floating-nav.floating-active #headerrow-349356 .logo{
					height:70px;
					line-height:70px!important;
				}
			#mobileheader-639685{background-color:#fff;}
			#mobileheader-639685,#mobileheader-639685 .header-area{height:64px}
			#mobileheader-639685 .dng-mobilemenu.mobile_menu.mm-menu{
				top:64px
			}
			#mobileheader-639685 .header-area .logo img{max-height:56px}
			#mobileheader-639685 .dngTextBox,
		#mobileheader-639685 .header-content-wrap >*:not(.nav-bar),
		#mobileheader-639685 .Normal,
		#mobileheader-639685 .Normal > a,
		#mobileheader-639685 .Normal > a:link,
		#mobileheader-639685 .Normal > a:active,
		#mobileheader-639685 .Normal > a:visited,
		#mobileheader-639685 .dngTextBox a,
		#mobileheader-639685 .dngTextBox a:link,
		#mobileheader-639685 .dngTextBox a:active,
		#mobileheader-639685 .dngTextBox a:visited{color:#333;}#mobileheader-639685 .header-content-wrap .Normal > a:hover,
				#mobileheader-639685 .header-content-wrap .dngTextBox a:hover,
				#mobileheader-639685 .Normal > a:hover,
				#mobileheader-639685 .dngTextBox a:hover,
				#mobileheader-639685 .hover-accent:hover,
				#mobileheader-639685 .search-popup-box .icon.active,
				#mobileheader-639685 .search-popup-box:hover .icon,
				#mobileheader-639685 .mobile-menu-icon:hover .fa-bars:before,
				#mobileheader-639685 .search-popup-box .submit:hover,
				#mobileheader-639685 .search-popup-box .popup-close:hover,
				#mobileheader-639685 .shop-cart-list .shop-list .remove:hover,
				#mobileheader-639685 .shop-cart-list .shop-list .price-info span,
				#mobileheader-639685 .shop-cart-list .shop-list .number-box .number-up:hover,
				#mobileheader-639685 .mobile-header .shop-cart-list .shop-list .number-box .number-down:hover,
				#mobileheader-639685 .search-popup-box .icon:hover{
					color:#00c110;
				}