 #footerinfo628747,
	#footerinfo628747 a,  
	#footerinfo628747 a:link,   
	#footerinfo628747 a:active,   
	#footerinfo628747 a:visited{color:#333;}
		#footerinfo628747 .sep{
			margin:0px 5px;
		}
		
		#footerinfo628747 a:hover{
			color: #00c110;
			text-decoration: none;
		}#row-49430{background-color:#f2f2f2!important;}#Contact{padding-top:25px;padding-bottom:25px;}#Contact{background-color:#f2f2f2!important;}
			#Contact,
			#Contact .Normal{color:#333;}