

/*tab*/


.am-tabs-left .resp-tabs-list > li > i,
.am-tabs-top .resp-tabs-list > li > i {
	width: 1.2em;
	font-size: 1.2em;
	text-align: center;
	margin-right: 8px;
	vertical-align: middle;
	margin-bottom: 2px;
	display: inline-block;
}
.am-tabs-left .resp-tabs-list > li > .number-bg,
.am-tabs-top .resp-tabs-list > li > .number-bg {
	margin-right: 0.5em;
}
[class*="am-tabs-"]:after,
.resp-tabs-container:after,
.resp-tab-container:after {
	content: " ";
	clear: both;
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
	overflow: hidden;
}
.am-tabs-top,
.am-tabs-bottom {
	clear: both;
}
.am-tabs-top .resp-tabs-list,
.am-tabs-bottom .resp-tabs-list {
	margin: 0;
	padding: 0;
	display: inline-block;
	border-left: 1px solid #e8e8e8;
	vertical-align: bottom;
}
.am-tabs-top .resp-tabs-container,
.am-tabs-bottom .resp-tabs-container {
	padding: 0;
	margin: 0 0 8px;
	clear: both;
	border: 1px solid #e8e8e8;
}
.am-tabs-top .resp_margin,
.am-tabs-bottom .resp_margin,
.am-tabs-left .resp_margin,
.am-tabs-right .resp_margin {
	padding: 20px 20px;
}
.am-tabs-top .resp-tabs-list li,
.am-tabs-bottom .resp-tabs-list li {
	font-size: 16px;
	line-height: 26px;
	margin: 0;
	list-style: none;
	border-top: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	margin-bottom: -1px;
	float: left;
	position: relative;
	z-index: 1;
	padding: 8px 15px;
	white-space: nowrap;
	cursor: pointer;
	-webkit-transition: background-color ease-in 200ms, color ease-in 200ms;
	transition: background-color ease-in 200ms, color ease-in 200ms;
	color: #424242;
}
.am-tabs-top .resp-tabs-list li:hover,
.am-tabs-bottom .resp-tabs-list li:hover {
	color: #333;
	background: #eeeeee;
}
.am-tabs-top .resp-tabs-list li.resp-tab-active,
.am-tabs-bottom .resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #FFF;
}
.am-tabs-top .resp-tabs-list li.resp-tab-active,
.am-tabs-bottom .resp-tabs-list li.resp-tab-active {
	background-color: #FFF;
	color: #20a3f0;
}
.am-tabs-top h2.resp-accordion,
.am-tabs-top .resp_container,
.am-tabs-bottom h2.resp-accordion,
.am-tabs-bottom .resp_container {
	display: none;
}
.am-tabs-bottom .resp-tabs-list {
	margin: 0 0 8px;
}
.am-tabs-bottom .resp-tabs-container {
	margin: 0;
}
.am-tabs-bottom .resp-tabs-list li {
	border-top: none;
	border-bottom: 1px solid #e8e8e8;
	margin-top: -1px;
}
.am-tabs-left,
.am-tabs-right {
	clear: both;
}
.am-tabs-left .resp-tabs-container,
.am-tabs-right .resp-tabs-container {
	padding: 0;
	margin: 0 0 8px;
	border: 1px solid #e8e8e8;
	overflow: auto;
}
.am-tabs-left .resp-tabs-list,
.am-tabs-right .resp-tabs-list {
	float: left;
	margin: 0 -1px 0 0;
	padding: 0;
	border-bottom: 1px solid #e8e8e8;
}
.am-tabs-left .resp-tabs-list li,
.am-tabs-right .resp-tabs-list li {
	font-size: 13px;
	color: #424242;
	margin: 0;
	list-style: none;
	border-top: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	position: relative;
	z-index: 1;
	min-width: 120px;
	padding: 8px 15px;
	white-space: nowrap;
	cursor: pointer;
	text-align: right;
	-webkit-transition: background-color ease-in 200ms, color ease-in 200ms;
	transition: background-color ease-in 200ms, color ease-in 200ms;
}
.am-tabs-left .resp-tabs-list li:hover,
.am-tabs-right .resp-tabs-list li:hover {
	background: #eeeeee;
	color: #333;
}
.am-tabs-left .resp-tabs-list li.resp-tab-active,
.am-tabs-right .resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #20a3f0;
	background-color: #FFF
}
.am-tabs-left h2.resp-accordion,
.am-tabs-left .resp_container,
.am-tabs-right h2.resp-accordion,
.am-tabs-right .resp_container {
	display: none;
}
.am-tabs-right .resp-tabs-list {
	float: right;
	margin: 0 0 0 -1px;
}
.am-tabs-right .resp-tabs-container {
	margin: 0;
}
.am-tabs-right .resp-tabs-list li {
	border-left: none;
	border-right: 1px solid #e8e8e8;
	text-align: left;
}

@media only screen and (max-width:768px) {
	[class*="am-tabs-"] .resp-tabs-list {
		display: none!important;
	}
	[class*="am-tabs-"] h2.resp-accordion {
		position: relative;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		font-size: 20px;
		font-weight: 60;
		padding: 12px 30px 12px 20px;
		cursor: pointer;
		margin: 0;
		display: block;
		-webkit-transition: all ease-in 200ms;/* Safari and Chrome */
		transition: all ease-in 200ms;
	}
	[class*="am-tabs-"] h2.resp-accordion:hover {
		background: #eeeeee;
		color: #333333;
	}
	[class*="am-tabs-"] h2.resp-tab-active,
	[class*="am-tabs-"] h2.resp-tab-active:hover {
		background: #20a3f0;
		color: #FFF;
	}
	[class*="am-tabs-"] h2.resp-accordion > i {
		margin-right: 8px;
		font-size: 1.1em;
	}
	[class*="am-tabs-"] .resp-arrow {
		position: absolute;
		right: 10px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);

		display: inline-block;
		font-family: 'linearicons';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	}
	/* [class*="am-tabs-"] .resp-arrow:before{
			content: "\e936";
		}
		[class*="am-tabs-"] .resp-tab-active .resp-arrow:before{
			content: "\e937";
		} */
	[class*="am-tabs-"] .resp-arrow:after,
	[class*="am-tabs-"] .resp-arrow:before {
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		z-index: 1;
	}
	[class*="am-tabs-"] .resp-arrow:after {
		width: 2px;
		height: 12px;
		background: #424242;
		margin: -6px 0 0 -7px;
		opacity: 1;
	}
	[class*="am-tabs-"] .resp-arrow:before {
		width: 12px;
		height: 2px;
		background: #424242;
		margin: -1px 0 0 -12px;
	}
	[class*="am-tabs-"] .resp-tab-active .resp-arrow:after {
		opacity: 0;
	}
	[class*="am-tabs-"] .resp-tab-active .resp-arrow:before,
	[class*="am-tabs-"] .resp-tab-active .resp-arrow:after {
		background: #FFF;
	}
	[class*="am-tabs-"] .resp-tabs-container {
		width: 100%;
		border: none;
		border-bottom: 1px solid #e1e1e1;
	}
	[class*="am-tabs-"] .resp-tab-content {
		border: 1px solid #e1e1e1;
		border-bottom: none;
		width: auto !important;
		display: none;
	}
	[class*="am-tabs-"] .resp-tabs-container {
		margin-bottom: 8px;
	}
}



.am-tabs-top01 .resp-tabs-list{
    border:none;
}
.am-tabs-top01 .resp-tabs-list .resp-tab-item{
    margin: 0px 10px 10px 0;
    border:none;
	box-shadow: 0 0 15px rgba(0,0,0,.2);
	font-family: 'Montserrat', sans-serif;	
    font-weight: 600;
    padding: 10px 26px;
    border-radius: 3px;
}
.am-tabs-top01 .resp-tabs-list .resp-tab-item span{
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 8px;
    font-size: 1.2em;
	-webkit-transition: color ease-in 200ms;
	transition: color ease-in 200ms;

}
.am-tabs-top01 .resp-tabs-list .resp-tab-item.resp-tab-active{
    background-color: #2c5cda;
    color: #FFF;
}
.am-tabs-top01 .resp-tabs-list .resp-tab-item.resp-tab-active span{
    color: #FFF!important;
}
.am-tabs-top01 .resp-tabs-container{
    border: none;
}
.am-tabs-top01 .resp_margin{
    padding:18px 0;
}
@media only screen and (max-width:768px) {
	.am-tabs-top01 .resp_margin{
		padding: 18px;
	} 
	.am-tabs-top01 .resp-tabs-container .resp-accordion span{
		color:currentColor!important;
		display: inline-block;
		vertical-align: text-bottom;
		margin-right: 14px;
		font-size: 1em;
	}
	.am-tabs-top01 .resp-tabs-container{
		border-bottom: 1px solid #e1e1e1;
	}
}

.am-tabs-top02 .resp-tabs-list{
    border:none;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    margin-bottom: 14px;
}
.am-tabs-top02 .resp-tabs-list .resp-tab-item{
    font-weight: 600;
    padding: 8px 25px;
    border: none;
    position: relative;
}
.am-tabs-top02 .resp-tabs-list .resp-tab-item span{
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 2px;
    font-size: 1.2em;
	-webkit-transition: color ease-in 200ms;
	transition: color ease-in 200ms;
}
.am-tabs-top02 .resp-tabs-list .resp-tab-item::after{
    content: "";
    width: 0px;
    height: 16px;
    border-right: 1px solid #dbdbdb;
    position: absolute;
    right: -1px;
    top: 50%;
    margin-top: -8px;
}
.am-tabs-top02 .resp-tabs-list .resp-tab-item.resp-tab-active{
    background-color: #2c5cda;
    color: #FFF;
}
.am-tabs-top02 .resp-tabs-list .resp-tab-item.resp-tab-active::after,
.am-tabs-top02 .resp-tabs-list .resp-tab-item:last-child::after{
    content: none;
}
.am-tabs-top02 .resp-tabs-container{
    border: none;
}
.am-tabs-top02 .resp_margin{
    padding:18px 0;
}
@media only screen and (max-width:768px) {
	.am-tabs-top02 .resp_margin{
		padding: 18px;
	} 
	.am-tabs-top02 .resp-tabs-container{
		border-bottom: 1px solid #e1e1e1;
	}

}

.am-tabs-top03 .resp-tabs-list{
    text-align: center;
    display: block;
    border: none;
}
.am-tabs-top03 .resp-tabs-list .resp-tab-item{
    float: none;
    display: inline-block;
    padding: 0px 0px 35px 85px;
    position: relative;
    margin: 0px 25px;
    border: none;
    background: none!important;
}
.am-tabs-top03 .resp-tabs-list .resp-tab-item::after{
    content: "";
    border-bottom: 3px solid #2c5cda;
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0;
	transition: width ease-in 200ms;
}
.am-tabs-top03 .resp-tabs-list .resp-tab-item.resp-tab-active::after{
    width: 100%;
	left: 0;
	right: auto;
}
.am-tabs-top03 .resp-tabs-list .resp-tab-item .icon-box{
    position: absolute;
    left: 0px;
    font-size: 66px;
    color: #000;
    width: 68px;
    height: 68px;
}
.am-tabs-top03 .resp-tabs-list .resp-tab-item .icon-svg{
    width: 68px;
    height: 68px;  
}
.am-tabs-top03 .resp-tabs-list .resp-tab-item .icon-svg *{
	stroke-width: 2px;
}
.am-tabs-top03 .resp-tabs-list .resp-tab-item .icon-box .bg{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    z-index: 0;
    width: 60px;
    height: 60px;
    background: #2c5cda;
    opacity: 0.41;
    border-radius: 50% 70% 50% 70% / 70% 50% 70% 50%;
    transform: rotate(30deg) translate(-25%, -36%);
    transform-origin: center center;
}

.am-tabs-top03 .resp-tabs-list .resp-tab-item .box-right{
    text-align: left;
    margin-top: 12px;
}
.am-tabs-top03 .resp-tabs-list .resp-tab-item .title{
	margin: 0;
	font-size: 18px;
	line-height: 28px;
}
.am-tabs-top03 .resp-tabs-list .resp-tab-item small{
    color: #666666;
    font-size: 16px;
}
.am-tabs-top03 .resp-tabs-container{
	border: none;
	border-top:1px solid #e6e6e6;
}
.am-tabs-top03 .resp_margin {
	padding: 60px 0 0;
}
.am-tabs-top03 .am-info-06{
	margin: 0 0 20px!important;
	padding: 0!important;
}

@media only screen and (max-width:768px) {
	.am-tabs-top03 .resp_margin{
		padding: 18px;
	} 
	.am-tabs-top03 .resp-tabs-container{
		border-bottom: 1px solid #e1e1e1;
	}
	.am-tabs-top03 .resp-accordion{
		position: relative;
	}
	.am-tabs-top03 .resp-accordion .icon-box{
		position: absolute;
		left: 15px;
		top: 9px;
	}
	.am-tabs-top03 .resp-accordion .box-right{
		padding-left: 40px;
		line-height: 1;
	}
	.am-tabs-top03 .resp-accordion .title{
		margin: 0;
		transition: color ease-in 200ms;
	}
	.am-tabs-top03 .resp-accordion.resp-tab-active .title{
		color: #FFF;
	}


}


.am-tabs-top04 .resp-tabs-list{
    border:none;
}
.am-tabs-top04 .resp-tabs-list .resp-tab-item{
    margin: 0px 10px 10px 0;
    border:none;
    font-weight: 600;
    padding: 9px 25px;
	border-radius: 3px;
	background-color: #f0f0f0;
}
.am-tabs-top04 .resp-tabs-list .resp-tab-item span{
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 2px;
    font-size: 1.2em;
	-webkit-transition: color ease-in 200ms;
	transition: color ease-in 200ms;

}
.am-tabs-top04 .resp-tabs-list .resp-tab-item.resp-tab-active{
    background-color: #2c5cda;
    color: #FFF;
}
.am-tabs-top04 .resp-tabs-list .resp-tab-item.resp-tab-active span{
    color: #FFF!important;
}
.am-tabs-top04 .resp-tabs-container{
    border: none;
}
.am-tabs-top04 .resp_margin{
    padding:28px 0 18px;
}
@media only screen and (max-width:768px) {
	.am-tabs-top04 .resp_margin{
		padding: 18px;
	} 
	.am-tabs-top04 .resp-tabs-container{
		border-bottom: 1px solid #e1e1e1;
	}
}

.am-tabs-top05 .resp-tabs-list{
    border:none;
    border-radius: 25px;
    margin-bottom: 14px;
	padding: 3px;
	border:2px solid #f0f0f0;
}
.am-tabs-top05 .resp-tabs-list .resp-tab-item{
    font-weight: 600;
    padding: 7px 25px;
    border: none;
	position: relative;
	border-radius: 25px;
	margin-right: 3px;
}
.am-tabs-top05 .resp-tabs-list .resp-tab-item:last-child{
	margin: 0;
}
.am-tabs-top05 .resp-tabs-list .resp-tab-item span{
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 2px;
    font-size: 1.2em;
	-webkit-transition: color ease-in 200ms;
	transition: color ease-in 200ms;
}

.am-tabs-top05 .resp-tabs-list .resp-tab-item.resp-tab-active{
    background-color: #2c5cda;
	color: #FFF;
	box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}

.am-tabs-top05 .resp-tabs-container{
    border: none;
}
.am-tabs-top05 .resp_margin{
    padding:18px 0;
}
@media only screen and (max-width:768px) {
	.am-tabs-top05 .resp_margin{
		padding: 18px;
	} 
	.am-tabs-top05 .resp-tabs-container{
		border-bottom: 1px solid #e1e1e1;
	}
}

 
